《并行与分布式计算》实验报告

年级、专业、班级姓名实验题目实验一 C++多线程编程实验时间 实验地点实验成绩　 实验性质□验证性  □设计性  √综合性教师评价：
□算法/实验过程正确；   □源程序/实验内容提交     □程序结构/实验步骤合理；
□实验结果正确；        □语法、语义正确；        □报告规范；           
其他：
                                          评价教师签名：一、实验目的
* 掌握线程的概念和线程的派生、并入和分派等工作流程和线程的生命周期；
* 通过使用C++11进行多线程编程，掌握多线程编程的特点和工作原理；
* 了解线程的调度和执行过程。二、实验项目内容
　　本次实验内容为C++多线程编程基础，实验可在Windows或Linux环境下进行，本次实验分为2个部分，具体内容如下：
　　1.打印学号姓名
　　编写一个程序，该程序首先从主线程派生出2个线程，其中一个线程循环输出10次你的学号，另一个线程循环输出10次你的姓名。
　　（1）运行多次，观察输出结果。
　　（2）使用互斥锁（mutex）对循环输出操作进行控制，观察输出结果。
　　（3）观测两次输出结果，简要说明产生结果的原因。

　　2.矩阵求和
　　考虑2个矩阵，其中。请编写程序进行矩阵求和计算，即，，分别采用以下方法进行计算。
　　（1）串行方法
　　（2）静态区块分发，线程数为8
　　（3）循环分发，线程数为8
　　（4）区块-循环分发，线程数为8，区块大小为8行
　　其中，以行作为区块的划分。请使用给定的"hpc_helpers.hpp"文件，对每一个方法的运行时间进行输出。程序的主要内容已给出，请完成缺失的方法。
#include<iostream>
#include<thread>
#include<vector>
#include<windows.h>

int n = 10000;
std::vector<int> A(n * n, 1);
std::vector<int> B(n * n, 2);
std::vector<int> C(n * n);

int main(){

    clock_t t0 = clock();
    sequential(A, B, C, n);
    clock_t t1 = clock();
    cout << "Sequential time: " << (double)(t1 - t0) / CLOCKS_PER_SEC << "s" << endl; 

    block_parallel(A, B, C, n);
    clock_t t2 = clock();
    cout << "Block time: " << (double)(t2 - t1) / CLOCKS_PER_SEC << "s" << endl; 

    cyclic_parallel(A, B, C, n);
    clock_t t3 = clock();
    cout << "Cyclic time: " << (double)(t3 - t2) / CLOCKS_PER_SEC << "s" << endl; 

    sequential(A, B, C, n);
    clock_t t4 = clock();
    cout << "Block Cyclic time: " << (double)(t4 - t3) / CLOCKS_PER_SEC << "s" << endl;

    return 0;
}　　三、实验过程或算法（源程序）四、实验结果及分析和（或）源程序调试过程
备注：
1、教师在布置需撰写实验报告的实验前，应先将报告书上的"实验题目"、"实验性质"、"实验目的"、"实验项目内容"等项目填写完成，然后再下发给学生。
2、教师在布置需撰写报告的实验项目时，应告知学生提交实验报告的最后期限。
3、学生应按照要求正确地撰写实验报告：
1) 在实验报告上正确地填写"实验时间"、"实验地点"等栏目。
2) 将实验所涉及的源程序文件内容（实验操作步骤或者算法）填写在"实验过程或算法（源程序）"栏目中。
3) 将实验所涉及源程序调试过程（输入数据和输出结果）或者实验的分析内容填写在"实验结果及分析和（或）源程序调试过程"栏目中。
4) 在实验报告页脚的"报告创建时间："处插入完成实验报告时的日期和时间。
5) 学生将每个实验完成后，按实验要求的文件名通过网络提交（上载）到指定的服务器所规定的共享文件夹中。每个实验一个电子文档，如果实验中有多个电子文档（如源程序或图形等），则用WinRAR压缩成一个压缩包文档提交，压缩包文件名同实验报告文件名（见下条）。
6) 提交的实验报告电子文档命名为："年级（两位数字不要"级"字）专业（缩写：计算机科学与技术专业（计科）、网络工程专业（网络）、信息安全专业（信息）、物联网工程（物联网））班级（两位数字）学号（八位数字）姓名实验序号（一位数字）．doc。如学号为20115676、年级为2011级、专业为"计算机科学与技术"专业、班级为"02班"、姓名为"王宇"的学生，完成的第一次实验命名为： 11计科02班20115676王宇1．Doc，以后几次实验的报告名称以此类推。
4、教师（或助教）在评价学生实验时，应根据其提交的其他实验相关资料（例如源程序文件等）对实验报告进行仔细评价。评价后应完成的项目有:
1) 在"成绩"栏中填写实验成绩。每个项目的实验成绩按照五级制（优、良、中、及格、不及格）方式评分，实验总成绩则通过计算每个项目得分的平均值获得（平均值计算时需将五级制转换为百分制优=95、良=85、中=75、及格=65、不及格=55）。
2) 在"教师评价"栏中用符号标注评价项目结果（用√表示正确，用×表示错误，用≈表示	半对半错）。
3) 在"教师评价"栏中"评价教师签名"填写评价教师（或助教）姓名。将评价后的实验报告转换为PDF格式文件归档。
4) 课程实验环节结束后，任课教师将自己教学班的实验报告文件夹进行清理。在提交文件夹中，文件总数为实验次数×教学班学生人数（如，教学班人数为90人，实验项目为5，其文件数为：90×5=450）。任课教师一定要认真清理，总数相符，否则学生该实验项目不能得分。最后将学生提交的实验报告刻光盘连同实验成绩一起放入试卷袋存档。








报告创建时间：

